body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
#app {
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.main-chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 600px;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: #f1f1f1;
}
.chat-body {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-grow: 1;
  padding: 10px 20px;
  overflow-y: auto;
  box-sizing: border-box;
}
.chat-footer {
  display: flex;
  flex-shrink: 0;
}

.chat-footer-name {
  width: 150px;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
}

.chat-footer-msg {
  flex-grow: 1;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
}
.chat-footer-submit {
  background: #007bff;
  padding: 5px 20px;
  color: #fff;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #007bff;
  &:focus {
    border-color: #acb321;
  }
}

.chat-message {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-bottom: 10px;

  &.fetching {
    opacity: 0.3;
  }
}
.chat-message-name {
  font-weight: 600;
  margin-bottom: 5px;
}